@page "/gameentry"

@using Microsoft.AspNetCore.Components.Authorization
@using cSharpAuth.Services
@inject GameEntryService GameEntryService
@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>
    <Authorized>
        @if (gameEntries == null)
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-12">loading...</div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-md-2">
                        Action(s)
                    </div>
                    <div class="col-xs-4 col-md-4">
                        Search
                    </div>
                    <div class="col-xs-3 col-md-3">
                        Skip
                    </div>
                    <div class="col-xs-3 col-md-3">
                        Limit
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <a href='/gameEntry/add' class="btn btn-primary" role="button">
                            <i class="fas fa-user-plus"></i>
                            Add Game Entry
                        </a>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <input type="text" class="form-control" placeholder="Search game entry by name"
                            @bind="SearchString" @bind:event="oninput" @onkeyup="FilterName" />
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <input type="number" class="form-control" 
                            @bind="Skip" @bind:event="oninput" @onchange="SetPage" step="@Limit" />
                    </div>
                    <div class="col-xs-3 col-md-3">
                        <input type="number" class="form-control" 
                            @bind="Limit" @bind:event="oninput" @onchange="SetPage" step="10" />
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var gameEntry in gameEntries.OrderBy(x => x.Created))
                                {
                                <tr>
                                    <td>
                                        <a href='/gameentry/edit/@gameEntry.Pid' class="btn btn-outline-dark" role="button">
                                            Edit
                                        </a> | 
                                        <a href='/gameentry/delete/@gameEntry.Pid' class="btn btn-outline-danger" role="button">
                                            Delete
                                        </a><br/>
                                        <span><b>Name:</b> '@gameEntry.Name'</span><br/> 
                                        <span><b>Created:</b> @gameEntry.Created.ToString("MM/dd/yy")</span><br/>
                                        <span><b>Modified:</b> @gameEntry.Modified.ToString("MM/dd/yy")</span><br/>
                                        <b>Paragraph(s):</b>
                                        <ul style="margin:0px;padding:0px;">
                                        @foreach (var desc in gameEntry.Description)
                                        {
                                            <li>@desc</li>
                                        }
                                        </ul>
                                        <br/>
                                        <b>Option(s):</b>
                                        <ul>
                                        @if(gameEntry.Options != null)
                                        {
                                            @foreach (var gameOption in gameEntry.Options)
                                            {
                                                <li><b>Next:</b> '@gameOption.Next'<b>, Description:</b> '@gameOption.Description'</li>
                                            }
                                        }
                                        </ul>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        You are not authorized to view this page
    </NotAuthorized>
</AuthorizeView>

@code {
    
    protected List<GameEntry> gameEntries = new();
    protected List<GameEntry> searchGameEntries = new();

    protected override async Task OnInitializedAsync()
    {
        gameEntries = (await GameEntryService.List("UNUSED_STRING", Limit, Skip)).ToList();
        searchGameEntries = gameEntries;
    }
    protected string SearchString { get; set; } = string.Empty;
    protected int Skip { get; set; } = 0;
    protected int Limit { get; set; } = 10;
    protected void FilterName()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            gameEntries = searchGameEntries
                .Where(x => x.Name.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToList();
        }
        else
        {
            gameEntries = searchGameEntries;
        }
    }
    protected void ResetSearch()
    {
        SearchString = string.Empty;
        gameEntries = searchGameEntries;
    }
    private async Task SetPage()
    {
        gameEntries = (await GameEntryService.List("UNUSED_STRING", Limit, Skip)).ToList();
        searchGameEntries = gameEntries;
    }
}
